.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.x-tab-active{
    background-color: white!important;
}
.x-tab-bar .x-tab-default {
    background-image: none;
    background-color: #999;
    border-color: #666;
    border-radius: 0;
}
.x-tab-inner {
    color: #222;
    text-transform: none!important;
    width: 200px!important;
    font-size: 14px!important;
    font-family: NotoSans, Helvetica, Arial;
    white-space: normal;

}

